@model WeChatPayScoreServiceOrderDirectCompleteViewModel
@{
    ViewData["Title"] = "支付分-创单结单合并API";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="WeChatPayV3" asp-action="Index">微信支付V3</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<div class="card">
    <div class="card-body">
        <form asp-controller="WeChatPayV3" asp-action="ServiceOrderDirectComplete">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceId"></label>
                <input type="text" class="form-control" asp-for="ServiceId" value="500001" />
            </div>
            <div class="form-group">
                <label asp-for="OutOrderNo"></label>
                <input type="text" class="form-control" asp-for="OutOrderNo" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")" />
            </div>
            <div class="form-group">
                <label asp-for="ServiceIntroduction"></label>
                <input type="text" class="form-control" asp-for="ServiceIntroduction" value="测试支付分订单" />
            </div>
            <div class="form-group">
                <label asp-for="PostPaymentName"></label>
                <input type="text" class="form-control" asp-for="PostPaymentName" value="就餐费用, 服务费" />
            </div>
            <div class="form-group">
                <label asp-for="PostPaymentAmount"></label>
                <input type="text" class="form-control" asp-for="PostPaymentAmount" value="1" />
            </div>
            <div class="form-group">
                <label asp-for="PostPaymentCount"></label>
                <input type="text" class="form-control" asp-for="PostPaymentCount" value="1" />
            </div>
            <div class="form-group">
                <label asp-for="PostPaymentDescription"></label>
                <input type="text" class="form-control" asp-for="PostPaymentDescription" value="就餐人均100元，服务费：100/小时" />
            </div>
            <div class="form-group">
                <label asp-for="StartTime"></label>
                <input type="text" class="form-control" asp-for="StartTime" value="@DateTime.Now.AddMinutes(1).ToString("yyyyMMddHHmmss")" />
            </div>
            <div class="form-group">
                <label asp-for="EndTime"></label>
                <input type="text" class="form-control" asp-for="EndTime" value="@DateTime.Now.AddMinutes(2).ToString("yyyyMMddHHmmss")" />
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount"></label>
                <input type="text" class="form-control" asp-for="TotalAmount" value="1" />
            </div>
            <div class="form-group">
                <label asp-for="NotifyUrl"></label>
                <input type="text" class="form-control" asp-for="NotifyUrl" value="http://domain.com/wechatpay/v3/notify/score/orderpaid" />
            </div>
            <div class="form-group">
                <label asp-for="OpenId"></label>
                <input type="text" class="form-control" asp-for="OpenId" />
            </div>
            <button type="submit" class="btn btn-primary">提交请求</button>
        </form>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label>Response:</label>
                <textarea class="form-control" rows="10">@ViewData["response"]</textarea>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
