@using WebApplicationSample.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Paylink</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-shadow">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Paylink</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @Html.IsActive("Alipay")">
                        <a class="nav-link" asp-controller="Alipay" asp-action="Index">支付宝</a>
                    </li>
                    <li class="nav-item @Html.IsActive("WeChatPay")">
                        <a class="nav-link" asp-controller="WeChatPay" asp-action="Index">微信支付</a>
                    </li>
                    <li class="nav-item @Html.IsActive("WeChatPayV3")">
                        <a class="nav-link" asp-controller="WeChatPayV3" asp-action="Index">微信支付V3</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <ul class="list-style-none d-flex">
                <li class="mr-3"><p>Copyright (c) Essensoft and Contributors</p></li>
                <li class="mr-3"><a target="_blank" href="https://github.com/essensoft/paylink">GitHub</a></li>
                <li class="mr-3"><a target="_blank" href="https://gitee.com/essensoft/paylink">Gitee</a></li>
                <li class="mr-3">Paylink 交流①群：<a target="_blank" href="https://shang.qq.com/wpa/qunwpa?idkey=aac56c8f02f54893267d3ac90787c1794a7687f3c31a923812a36b67c4ee6271">522457525</a></li>
                <li class="mr-3">Paylink 交流②群：<a target="_blank" href="https://shang.qq.com/wpa/qunwpa?idkey=a77c990f2a8fca61f7eaf87ad34eae1a4ac4ebb98968a2602514dfba0c23c108">204076462</a></li>
                <li class="mr-3">Paylink 交流③群：<a target="_blank" href="https://shang.qq.com/wpa/qunwpa?idkey=ef1dcf99efe9fe2cbb596ec743daa748f9296c1206bd19c64090ffe35a5e0ff9">755039581</a></li>
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)
</body>
</html>
