@model JDPayDefrayPayViewModel
@{
    ViewData["Title"] = "代付交易请求";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="JDPay" asp-action="Index">京东支付</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<div class="card">
    <div class="card-body">
        <form asp-controller="JDPay" asp-action="DefrayPay">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PayeeBankCode"></label>
                <input type="text" class="form-control" asp-for="PayeeBankCode" value="ABC" />
            </div>
            <div class="form-group">
                <label asp-for="ExtendParams"></label>
                <input type="text" class="form-control" asp-for="ExtendParams" value="{'ssss':'ssss'}" />
            </div>
            <div class="form-group">
                <label asp-for="PayeeAccountType"></label>
                <input type="text" class="form-control" asp-for="PayeeAccountType" value="P" />
            </div>
            <div class="form-group">
                <label asp-for="ReturnParams"></label>
                <input type="text" class="form-control" asp-for="ReturnParams" value="1234ssddffgghhj" />
            </div>
            <div class="form-group">
                <label asp-for="TradeCurrency"></label>
                <input type="text" class="form-control" asp-for="TradeCurrency" value="CNY" />
            </div>
            <div class="form-group">
                <label asp-for="PayTool"></label>
                <input type="text" class="form-control" asp-for="PayTool" value="TRAN" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryCode"></label>
                <input type="text" class="form-control" asp-for="CategoryCode" value="20jd222" />
            </div>
            <div class="form-group">
                <label asp-for="PayeeAccountNo"></label>
                <input type="text" class="form-control" asp-for="PayeeAccountNo" value="6222600210011817312" />
            </div>
            <div class="form-group">
                <label asp-for="PayeeAccountName"></label>
                <input type="text" class="form-control" asp-for="PayeeAccountName" value="张米克" />
            </div>
            <div class="form-group">
                <label asp-for="TradeSource"></label>
                <input type="text" class="form-control" asp-for="TradeSource" value="testetst" />
            </div>
            <div class="form-group">
                <label asp-for="NotifyUrl"></label>
                <input type="text" class="form-control" asp-for="NotifyUrl" value="http://*/notify/jdpay/defraypay" />
            </div>
            <div class="form-group">
                <label asp-for="BizTradeNo"></label>
                <input type="text" class="form-control" asp-for="BizTradeNo" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")" />
            </div>
            <div class="form-group">
                <label asp-for="OutTradeNo"></label>
                <input type="text" class="form-control" asp-for="OutTradeNo" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")" />
            </div>
            <div class="form-group">
                <label asp-for="SellerInfo"></label>
                <input type="text" class="form-control" asp-for="SellerInfo" value="{'customer_code':'360080002191800017','customer_type':'CUSTOMER_NO'}" />
            </div>
            <div class="form-group">
                <label asp-for="OutTradeDate"></label>
                <input type="text" class="form-control" asp-for="OutTradeDate" value="@DateTime.Now.ToString("yyyyMMddHHmmss")" />
            </div>
            <div class="form-group">
                <label asp-for="TradeAmount"></label>
                <input type="text" class="form-control" asp-for="TradeAmount" value="1" />
            </div>
            <div class="form-group">
                <label asp-for="PayeeBankFullname"></label>
                <input type="text" class="form-control" asp-for="PayeeBankFullname" value="农业银行" />
            </div>
            <div class="form-group">
                <label asp-for="RequestDatetime"></label>
                <input type="text" class="form-control" asp-for="RequestDatetime" value="@DateTime.Now.ToString("yyyyMMddHHmmss")" />
            </div>
            <div class="form-group">
                <label asp-for="TradeSubject"></label>
                <input type="text" class="form-control" asp-for="TradeSubject" value="test代付" />
            </div>
            <div class="form-group">
                <label asp-for="PayeeCardType"></label>
                <input type="text" class="form-control" asp-for="PayeeCardType" value="DE" />
            </div>
            <div class="form-group">
                <label asp-for="PayeeMobile"></label>
                <input type="text" class="form-control" asp-for="PayeeMobile" value="1333333333" />
            </div>
            <button type="submit" class="btn btn-primary">提交请求</button>
        </form>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label>Response:</label>
                <textarea class="form-control" rows="10">@ViewData["response"]</textarea>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
